<div class="container mt-5">
    <h1>Nuestros perros</h1>
    <hr>

    <ul>
        {{#each dogs}}
        <li>{{name}} tiene {{age}} años</li>
        {{/each}}
    </ul>

    <a href="/" class="btn btn-dark">Inicio</a>
</div>